

div.form-group label{
	display: block;
	width: 90%;
	margin: 0 auto;
}

div.form-group select{
	display: block;
	height: 30px;
	width: 90%;
	background-color: #fff;
	margin: 0 auto;
}


div.form-group button{
	height: 30px;
	min-width: 100px;
	background-color: #fefefe;
	border-color: #c6c6c6;
	border-radius: 3px;
	margin: 10px;
	float: right;
}

div.widget {
	width: 300px;
	height: 300px;
	border-style: dashed;
	border-width: 1px;
	border-color: blue;
	padding: 5px;
	position: relative;
	float: left;
	margin: 15px;

}

div.menu {
	z-index: 100px;
	border-right-color: #c6c6c6;
	border-right-style: solid;
	border-right-width: 1px;
	width: 20%;
	min-height: 400px;
	position: relative;
	float: left;
}

div.content {
	position: relative;
	width: 78%;
	border-style: dashed;
	border-width: 1px;
	border-color: red;
	float: left;
	margin: 0 auto;
}

div.widget .remove {
	content: "X";
	position: absolute;
	top: -12px;
	right: -10px;
}

div.widget .remove:after {
	content: "X";
    padding-right: 8px;
    color: grey;
    font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	cursor: pointer;
	font-size: 20px;
}