

div.form-group label{
	display: block;
	width: 90%;
	margin: 0 auto;
}

div.form-group select{
	display: block;
	height: 30px;
	width: 90%;
	background-color: #fff;
	margin: 0 auto;
}


div.form-group button{
	height: 30px;
	min-width: 100px;
	background-color: #fefefe;
	border-color: #c6c6c6;
	border-radius: 3px;
	margin: 10px;
	float: right;
}

div.widget {
	width: 300px;
	height: 300px;
	padding: 5px;
	position: relative;
	float: left;
	margin: 15px;
	box-shadow: 1px 1px 5px #c4c4c4;
	-webkit-animation-name: widget-in; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: widget-in;
    animation-duration: 2s;
    cursor: pointer;
}

div.widget.over {
	border: 2px dashed #a9a9a9;
}

div.menu {
	z-index: 100px;
	width: 20%;
	position: relative;
	float: left;
	box-shadow: 1px 1px  5px #c4c4c4;
}

div.content {
	position: relative;
	width: 78%;
	float: left;
	margin: 0 auto;
}

div.widget .remove {
	content: "X";
	position: absolute;
	top: -10px;
	right: -13px;
}

div.widget .remove:after {
	content: "X";
    padding-right: 8px;
    color: #9d9494;
    font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	cursor: pointer;
	font-size: 20px;
}




/* Chrome, Safari, Opera */
@-webkit-keyframes widget-in {
    0%   {opacity: 0}
    10%  {opacity: 0.1}
    50%  {opacity: 0.5}
    75%  {opacity: 0.75}
    100% {opacity: 1}
}

/* Standard syntax */
@keyframes widget-in {
    0%   {opacity: 0}
    10%   {opacity: 0.1}
    50%  {opacity: 0.5}
    75%  {opacity: 0.75}
    100% {opacity: 1}
}


[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}